<nav class="navbar navbar-light bg-light mb-5 fixed-top" id="mainNav">
  <a class="navbar-brand" href="/">
    <img src="../../../assets/logo.svg" width="30" height="30">
      &nbsp; 
      <span style="font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;font-size:1.5rem">CapBakes</span>
  </a>
    
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" data-toggle="tooltip" data-placement="top" title="Home" href="#"><i class="fas fa-home fa-lg"></i></a>&nbsp; 
        <a class="nav-item nav-link" data-toggle="tooltip" data-placement="top" title="Menu" href="#"><i class="fas fa-utensils fa-lg"></i></a>&nbsp; 
        <a class="nav-item nav-link" data-toggle="tooltip" data-placement="top" title="Delivery" href="#"><i class="fas fa-truck fa-lg"></i></a>&nbsp; 
        <a class="nav-item nav-link" data-toggle="tooltip" data-placement="top" title="ContactUs" href="#"><i class="fas fa-mobile-alt fa-lg"></i></a>&nbsp; 
        <a class="nav-item nav-link" data-toggle="tooltip" data-placement="top" title="SignIn" href="#"><i class="fas fa-sign-in-alt fa-lg"></i></a>&nbsp; 
      </div>
    </div>
  </nav>
