<div class="container">
    <div class="row">
      <div class= "col-md-2">
          <div class="row">
            <div class= "col-md-2"><a href="https://www.facebook.com/capbakes/" target="_blank"><i class="fab fa-facebook-square fa-lg"></i></a></div>
            <div class= "col-md-2"><a href="https://www.instagram.com/capbakes2018/" target="_blank"><i class="fab fa-instagram fa-lg"></i></a></div>
          </div>
      </div>   
    </div>
    <div id="navBar">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
              <i class="fas fa-birthday-cake fa-2x"></i>
            </a>
            <ul class="nav nav-pills justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Surprise Cakes</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Menu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact Us</a>
                </li>


              </ul>
          </nav>      
    </div>
  </div>