<nav class="navbar navbar-light bg-light mt-5 fixed-bottom">
    <div class="navbar-expand m-auto navbar-text">
      <i class="fa fa-heart"></i> &nbsp; FOLLOW US ON &nbsp;
        <a href="https://www.facebook.com/capbakes/" target="_blank">
          <i class="fab fa-facebook-square fa-lg"></i>
        </a>
        &nbsp;
        <a href="https://www.instagram.com/capbakes2018/" target="_blank">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
        &nbsp;
        <a href="#" target="_blank">
          <i class="fab fa-twitter fa-lg"></i>
        </a>
    </div>
  </nav>